/****** FILE: themes/blackacndymobile/css/layout.css *****/


/****** FILE: themes/blackacndymobile/css/text.css *****/


/****** FILE: themes/blackacndymobile/css/form.css *****/


/****** FILE: themes/blackacndymobile/css/listings.css *****/


/****** FILE: themes/blackacndymobile/css/jshowoff.css *****/


/****** FILE: themes/blackacndymobile/css/ddsmoothmenu-v.css *****/


/****** FILE: youtubeservice/css/playlist.css *****/
﻿.demo1{
	list-style:none;
	margin:0px;
	padding:0px;
}

.demo1 li{
	list-style:none;
	margin:0px;
	padding:5px !important;
	background:#FFFFFF;
	overflow:hidden;
}

.demo1 li.currentvideo{
	background:#ccc;
}


.demo1 li a{
	display:inline-block;
	float:left;
}

.demo1 li span.videoinfo{
	white-space: nowrap;
	width: 65%;
	display:inline-block;
	float:right;
	overflow: hidden;
	color:#00549A;
	text-overflow: ellipsis;
	
}


.demo1 li img{
	width:65px;
	float:left;
	margin-right:5px;
}

